@media screen and (max-width:768px){
    
    .formulario{
    display: flex;
    justify-content: center;
    background-color: #D3D3D3;
    width: 100%;
  }

  .embalagem_label{
    margin-top: 350px;
    font-size: 20px;
    color: #5a0909;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  #embalagem{
    margin-left: 45px;
    padding: 3px;
    font-size: 10px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
    border-color: #5a0909;
    color: #5a0909;
    width: 100px; /* Largura fixa para o select */
    transition: all 0.3s ease;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  #quantidade{
    margin-left:20px;
    padding: 3px;
    font-size: 10px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
    border-color: #5a0909;
    color: #5a0909;
    width: 90px; /* Largura fixa para o select */
    transition: all 0.3s ease;  
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
}

   .enviar{

    cursor: pointer;
    margin-left: 1rem;
    padding: 3px;
    font-size: 10px;
    background-color: #872020;
    border: 2px solid #ccc;
    border-radius: 10px;
    border-color: #5a0909;
    color: #ffff;
    width: 90px; /* Largura fixa para o select */
    transition: all 0.3s ease;  
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
    
   }

   .resultado{
    display: flex;
    justify-content: center;
    margin-left: 9rem;
    margin-bottom: 3rem;
    padding: 4px;
    font-size: 10px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
    border-color: #5a0909;
    color: #5a0909;
    width: 135px; /* Largura fixa para o select */
    transition: all 0.3s ease;  
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
   }


    .result{

    margin-left: 180px;
    font-size: 1rem;
    color: #5a0909;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }

   .resultado-text{
    color: #5a0909;
    font-size: 0.8rem;
    margin-left: 9rem;
   }
}



@media screen and (min-width:768px){
    .formulario{
        display: flex;
        justify-content: center;
        background-color: #D3D3D3;
    }

    .embalagem_label{
        margin-top: 300px;
        font-size: 25px;
        color: #5a0909;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #embalagem{
        margin-left: 45px;
        padding: 8px;
        font-size: 12px;
        background-color: #f0f0f0;
        border: 2px solid #ccc;
        border-radius: 10px;
        border-color: #5a0909;
        color: #5a0909;
        width: 150px; /* Largura fixa para o select */
        transition: all 0.3s ease;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    #quantidade{
        margin-left:12px;
        padding: 8px;
        font-size: 12px;
        background-color: #f0f0f0;
        border: 2px solid #ccc;
        border-radius: 10px;
        border-color: #5a0909;
        color: #5a0909;
        width: 133px; /* Largura fixa para o select */
        transition: all 0.3s ease;  
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
    }

    .enviar{
    
        cursor: pointer;
        margin-left: 1rem;
        padding: 5px;
        font-size: 10px;
        background-color: #872020;
        border: 2px solid #ccc;
        border-radius: 10px;
        border-color: #5a0909;
        color: #ffff;
        width: 100px; /* Largura fixa para o select */
        transition: all 0.3s ease;  
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
        
    }

    .resultado{
        display: flex;
        justify-content: center;
        margin-left: 12rem;
        margin-bottom: 4rem;
        padding: 10px;
        font-size: 10px;
        background-color: #f0f0f0;
        border: 2px solid #ccc;
        border-radius: 10px;
        border-color: #5a0909;
        color: #5a0909;
        width: 135px; /* Largura fixa para o select */
        transition: all 0.3s ease;  
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
    }

    
    .result{
    
        margin-left: 210px;
        font-size: 1.7rem;
        color: #5a0909;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    }

    .resultado-text{
        color: #5a0909;
        font-size: 1rem;
        margin-left: 11.5rem;
    }
    
}

@media screen and (min-width: 1024px) {

    .formulario{
        display: flex;
        justify-content: center;
        background-color: #D3D3D3;
    }
    
    .embalagem_label{
        padding-inline: 25px;
        margin-top: 300px;
        font-size: 3rem;
        color: #5a0909;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    #embalagem{
        margin-left: 7.8rem;
        padding: 10px;
        font-size: 17px;
        background-color: #f0f0f0;
        border: 2px solid #ccc;
        border-radius: 10px;
        border-color: #5a0909;
        color: #5a0909;
        width: 240px; /* Largura fixa para o select */
        transition: all 0.3s ease;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    
    #quantidade{
    
        /*font-weight: bold;*/
        margin-left: 4rem;
        padding: 10px;
        font-size: 17px;
        background-color: #f0f0f0;
        border: 2px solid #ccc;
        border-radius: 10px;
        border-color: #5a0909;
        color: #5a0909;
        width: 220px; /* Largura fixa para o select */
        transition: all 0.3s ease;  
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
    }
    
    .resultado{
        display: flex;
        justify-content: center;
        margin-left: 9rem;
        margin-bottom: 4rem;
        padding: 20px;
        font-size: 20px;
        background-color: #f0f0f0;
        border: 2px solid #ccc;
        border-radius: 10px;
        border-color: #5a0909;
        color: #5a0909;
        width: 300px; /* Largura fixa para o select */
        transition: all 0.3s ease;  
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
    }
    
    .enviar{
    
        cursor: pointer;
        margin: 7rem 0rem 2rem;
        margin-left: 16rem;
        padding: 10px;
        font-size: 20px;
        background-color: #872020;
        border: 2px solid #ccc;
        border-radius: 10px;
        border-color: #5a0909;
        color: #ffff;
        width: 150px; /* Largura fixa para o select */
        transition: all 0.3s ease;  
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
        
    }
    
    .result{
    
        margin-left: 180px;
        padding-inline: 25px;
        font-size: 3rem;
        color: #5a0909;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    }
    
    .resultado-text{
        color: #5a0909;
        font-size: 1.5rem;
        margin-left: 11.5rem;
    }
    
    
    }


